/*Media queries para trabajar Mobile*/
@media  screen and (max-width: 479px){
    .nav {
        top: 1% !important;
        height: 10rem !important;
    }
    .logo {
        width: 100% !important;
    }
    .menu-desktop {
        display: none !important;
    }
    .container-lg.nav-parent {
        justify-content: none !important;
    }
    .hero-logo {
        font-size: 50px !important;
    }
    .footer {
        height: 100% !important;
        background-size: cover !important;
    }
    .footer-links {
        flex-direction: column;
    }
    .footer-column {
        align-items: center !important;
    }
    .footer-parent {
        flex-direction: column;
        align-items: center;
    }
    .section-streamers, .qlqwa {
        background-size: cover !important;
    }
    .dasdas {
        flex-direction: column !important; 
    }
    .parent {
        padding-top: 2rem !important;
    }
    .heading-lg {
        font-size: 40px !important;
    }
    .grid-parent {
        flex-direction: column !important;
    }
}

/*Media queries para trabajar Tablets como las Surfaces*/
@media  screen and (min-width: 480px) and (max-width: 767px){}

/*Media queries para trabajar en tablets com Ipads*/
@media  screen and (min-width: 768px) and (max-width: 1023px){}

/*Media queries para trabajar en pantallas con viejas resoluciones*/
@media  screen and (min-width: 1024px) and (max-width: 1279px){}

/*Media queries para trabajar Pantallas de escritorio tablet con la resolucion promedio de HD*/
@media  screen and (min-width: 1280px) and (max-width: 1439px){

    .slider-in{

        margin-left: 0rem !important;
      }

}

/*Media queries para trabajar en Pantallas de su mayoria laptops*/
@media  screen and (min-width: 1440px) and (max-width: 1599px){

    .slider-in{
        margin-left: 2rem !important;
      }

      .img-visions{
        width: 450px !important; 
      }

      .spacer-large{
        height: 3rem;
        position: relative;
      }

      .top1, .top2, .top3{
        display: none !important;
      }

      section{
       overflow: visible !important;
      }

      .container-md{
        width: 85% !important;
      }

      
.circle-1{
    z-index: 1005;
    margin-bottom: -.9rem !important;
    margin-left: -.3rem;
    }
    
    .circle-2{
      z-index: 1007;
      margin-top: -.5rem !important;
      margin-left: -.5rem;
      }
      
      .circle-3{
        z-index: 1009;
        margin-top: -.6rem !important;
        margin-left: 3.7rem !important;
        }
        
    .line1{
      width: 2.4vw !important; 
      background-color: #a89c9c9c; height: .2px !important; position: absolute; z-index: 1000; 
      margin-left: -2.0rem !important; 
      margin-top: 40%;
    }
    .line2{
      width: .2px !important; background-color: #a89c9c9c; height: 55vh !important; position: absolute; z-index: 1007; margin-left: -.3rem !important;  margin-top: 75.7% !important;
    }
    
    .line3{
      width: 4.6vw; background-color: #a89c9c9c; height: 1.6px; position: absolute; z-index: 1000; margin-left: -4.65rem; margin-top: 111.5%;
    }
    
    .line4{
      width: 1.6px; background-color: #a89c9c9c; height: 34.1vh !important; position: absolute; z-index: 1000; margin-left: -9.55rem; margin-top: 133.5% !important;
    }
    
    .line5{
      width: 8.1vw !important; background-color: #a89c9c9c; height: .2px !important; position: absolute; z-index: 1000; margin-left: -2.8rem !important; margin-top: 155% !important;
    }
    
    .line-8{
      width: 2px; background-color: #a89c9c9c; height: 15vh;
    }
    
    .line-6{
      width: 2px; background-color: #a89c9c9c; height: 15vh; display: flex; align-items: end;
    }
    
    .line-7{
      width: 42.6vw !important;  
      background-color: #a89c9c9c; height: 2px; position: relative; z-index: 1000;
    }
    
    .m-negative{
      margin-top:-3.6rem !important;
    }

}

/*Media queries para trabajar en pantallas pre-FULLHD*/
@media  screen and (min-width: 1600px) and (max-width: 1919px){
    .slider-in{
        margin-left: 5rem !important;
      }
}

/*Media queries para trabajar en Pantallas FULLHD y superior*/
@media  screen and (min-width: 1920px){}