/*Media queries para trabajar Mobile*/
@media  screen and (max-width: 479px){
    .nav {
        top: 1% !important;
        height: min-content !important;
    }

    .heading-lg{
        padding-top: 1.5rem !important;

    }

    .render-float1,.render-float,
.render-float2,
.render-float3{
  display: none !important;
}

    .span-text{
        font-size: 30px !important;
    }

    .img-visions{
        width: fit-content !important;
        z-index: 1005;
    }

    .redes-lis{
        z-index: 1005 !important;
    }

    .grid-parent3{
        grid-template-columns: 100% !important;
    }

    .absolute-image{
        z-index: -999;
        margin-left: 0rem !important;
        order: 1 !important;
        justify-content: center !important;
    }

    .text-width-two{
        width: 100% !important;
        height: fit-content !important; 
        background-image: none !important;
    }

    .abs-vertical{
        display: none;
    }

    .px-left{
        text-align: center !important;
        padding-left: 0rem !important;
    }

    .no-pt{
        padding-top: 0rem !important;
    }

    .w-100{
        width: 250px !important;
    }

    .slider-in{
        margin-left: 0rem !important;
    }

    .line-y3{
        display: none;
    }

    .padding-moon{
        padding-right: 0rem !important;
    }

    .z-ind{
        margin: 0rem 1rem !important;
    }

.head-section{
    background-size: cover !important;
}

    .sombra2 {
        height: 100% !important;
    }

    .logo {
        width: 100% !important;
    }
    .menu-desktop {
        display: none !important;
    }
    .container-lg.nav-parent {
        justify-content: none !important;
    }
    .hero-logo {
        font-size: 45px !important;
    }

    .px-2{
      padding: 0% !important;
    }

    .parent.card4{
      padding: 55px !important;
      margin-top: 1.5rem !important;
    }

    .grid2{
      grid-template-columns: 100% !important;
    }

    .no-pb{
      padding-top: 0 !important;
    }

    .mobile2{
      padding-top: .5rem;
    }

    .mobile{
      display: none !important;
    }

    .sombra6{
      height: min-content !important;
    }

    .h-min{
      height: fit-content !important;
      padding-bottom: 6rem !important;
    }


    .modelo-alto{
      margin-top: 3rem !important;
      width: 320px !important;
      height: auto !important;
    }

    .left2{
      margin-left: 5%;
    }

    .parrafo{
      font-size: 14px !important;
    }

    .spacer-medium2{
      height: 5vh;
      width: 100vw;
      background-color: aqua;
    }

    .spacer-small2{
      height: 3rem !important;
    }

    .footer {
        height: 100% !important;
        background-size: cover !important;
    }
    .footer-links {
        flex-direction: column;
    }
    .footer-column {
        align-items: center !important;
    }

    .circle-1,.circle-2,.circle-3,.line1,.line2,.line3,.line4,.line5,.line-8,.line-6,.line-7,.m-negative, .line-y2{
        display: none;
        }

        .fle{
            display: flex !important;
            width: fit-content;
            flex-direction: column;
            justify-content: center !important;
            align-items: center;
        }

        .fle-img{
            width: 250px !important;
        }

    .footer-parent {
        flex-direction: column;
        align-items: center;
    }
    .section-streamers, .qlqwa {
        background-size: cover !important;
    }
    .dasdas {
        flex-direction: column !important; 
    }
    .parent {
        padding-top: 2rem !important;
    }

    .footer-nojoda{
        justify-content: center;
    }

    .social-footer{
        justify-content: center;
    }

    .qlqwa{
        width: 90% !important;
        margin-bottom: 3rem;
        background-size: 100% 100% !important;
    }

    .my-3{
        margin-top: 0rem !important;
    }

    .parent.card{
        padding: 20px !important;

    }

    .circle-gradient-vision-page, .circle-gradient-vision-page1 {
      display: none;
    }

    .heading-lg {
        font-size: 35px !important;
    }
    .grid-parent {
        flex-direction: column !important;
    }

.render-float1,.render-float,
.render-float2,
.render-float3{
  display: none !important;
}

    .grid{
      grid-template-columns: 100% !important;
    }

    .marico{
        flex-direction: column !important;
    }

    body{
        overflow: visible;
    }

    .container-lg{
        width: 96% !important;
    }

}

/*Media queries para trabajar Tablets como las Surfaces*/
@media  screen and (min-width: 480px) and (max-width: 767px){
    .nav {
        top: 1% !important;
        height: min-content !important;
    }

    .left2{
      margin-left: 5% !important;
    }

    .heading-lg{
        padding-top: 3rem !important;

    }

    .no-pb{
      padding-top: 0 !important;
    }

    .mobile2{
      padding-top: .5rem;
    }

    .mobile{
      display: none !important;
    }


    .qlqwa{
        height: 50vh !important;
    }

    .grid-parent {
      flex-direction: column !important;
  }

  .grid{
    grid-template-columns: 100% !important;
  }

  .parent.card4{
    padding: 55px !important;
    margin-top: 1.5rem !important;
  }

  .grid2{
    grid-template-columns: 100% !important;
  }



    .span-text{
        font-size: 35px !important;
    }

    .img-visions{
        width: fit-content !important;
        z-index: 1005;
    }

    .redes-lis{
        z-index: 1005 !important;
    }

    .grid-parent3{
        grid-template-columns: 100% !important;
    }

    .absolute-image{
        z-index: -999;
        margin-left: 0rem !important;
        order: 1 !important;
        justify-content: center !important;
    }

    .text-width-two{
        width: 100% !important;
        height: fit-content !important; 
        background-image: none !important;
    }

    .abs-vertical{
        display: none;
    }

    .px-left{
        text-align: center !important;
        padding-left: 0rem !important;
    }

    .no-pt{
        padding-top: 0rem !important;
    }

    .w-100{
        width: 250px !important;
    }

    .slider-in{
        margin-left: 0rem !important;
    }

    .line-y3{
        display: none;
    }

    .padding-moon{
        padding-right: 0rem !important;
    }

    .z-ind{
        margin: 0rem 1rem !important;
    }

.head-section{
    background-size: cover !important;
}

    .sombra2 {
        height: 100% !important;
    }

    .logo {
        width: 100% !important;
    }
    .menu-desktop {
        display: none !important;
    }
    .container-lg.nav-parent {
        justify-content: none !important;
    }
    .hero-logo {
        font-size: 50px !important;
    }
    .footer {
        height: 100% !important;
        background-size: cover !important;
    }
    .footer-links {
        flex-direction: column;
    }
    .footer-column {
        align-items: center !important;
    }

    .circle-1,.circle-2,.circle-3,.line1,.line2,.line3,.line4,.line5,.line-8,.line-6,.line-7,.m-negative, .line-y2{
        display: none;
        }

        .fle{
            display: flex !important;
            width: fit-content;
            flex-direction: column;
            justify-content: center !important;
            align-items: center;
        }

        .fle-img{
            width: 250px !important;
        }

    .footer-parent {
        flex-direction: column;
        align-items: center;
    }
    .section-streamers, .qlqwa {
        background-size: cover !important;
    }
    .dasdas {
        flex-direction: column !important; 
    }
    .parent {
        padding-top: 2rem !important;
    }

    .footer-nojoda{
        justify-content: center;
    }

    .social-footer{
        justify-content: center;
    }

    .qlqwa{
        width: 90% !important;
        margin-bottom: 3rem;
        background-size: 100% 100% !important;
    }

    .my-3{
        margin-top: 0rem !important;
    }

    .parent.card{
        padding: 20px !important;
    }

    .heading-lg {
        font-size: 40px !important;
    }
    .grid-parent {
        flex-direction: column !important;
    }

    .marico{
        flex-direction: column !important;
    }

    body{
        overflow: hidden;
    }

    .container-lg{
        width: 96% !important;
    }

    .container-md{
        width: 90% !important;
      }
}

/*Media queries para trabajar en tablets com Ipads*/
@media  screen and (min-width: 768px) and (max-width: 1023px){
    .nav {
        top: 1% !important;
        height: min-content !important;
    }

    .render-float1{
      width: 90px !important;
      top: 40% !important;
      left:  55% !important;
    }

    .render-float2{
      width: 120px !important;
      top: 20% !important;
      left: 40% !important;
    }

    .render-float3{
      width: 120px !important;
    }

  .render-float{
    top:0% !important;
    left: 60% !important;

  width:300px !important;
}

.j-start{
  justify-content: start !important;
  height: min-content !important;
  padding-bottom: 4rem;
}

    .left2{
      margin-left: 5% !important;
    }

    .heading-lg{
        padding-top: 3rem !important;

    }


    .grid{
      grid-template-columns: 100% !important;
    }
  
    .parent.card4{
      padding: 55px !important;
      margin-top: 1.5rem !important;
    }
  
    .grid2{
      grid-template-columns: 100% !important;
    }
  
  
  
      .span-text{
          font-size: 35px !important;
      }

    .no-pb{
      padding-top: 0 !important;
    }

    .mobile2{
      padding-top: .5rem;
    }

    .mobile{
      display: none !important;
    }


    .heading-lg{
        padding-top: 1rem !important;

    }

    .qlqwa{
        height: 50vh !important;
    }

    .span-text{
        font-size: 30px !important;
    }

    .img-visions{
        width: fit-content !important;
        z-index: 1005;
    }

    .redes-lis{
        z-index: 1005 !important;
    }

    .grid-parent3{
        grid-template-columns: 100% !important;
    }

    .absolute-image{
        z-index: -999;
        margin-left: 0rem !important;
        order: 1 !important;
        justify-content: center !important;
    }

    .text-width-two{
        width: 100% !important;
        height: fit-content !important; 
        background-image: none !important;
    }

    .abs-vertical{
        display: none;
    }

    .px-left{
        text-align: center !important;
        padding-left: 0rem !important;
    }

    .no-pt{
        padding-top: 0rem !important;
    }

    .w-100{
        width: 250px !important;
    }

    .slider-in{
        margin-left: 0rem !important;
    }

    .line-y3{
        display: none;
    }

    .padding-moon{
        padding-right: 0rem !important;
    }

    .z-ind{
        margin: 0rem 1rem !important;
    }

.head-section{
    background-size: cover !important;
}

    .sombra2 {
        height: 100% !important;
    }

    .logo {
        width: 100% !important;
    }
    .menu-desktop {
        display: none !important;
    }
    .container-lg.nav-parent {
        justify-content: none !important;
    }
    .hero-logo {
        font-size: 50px !important;
    }
    .footer {
        height: 100% !important;
        background-size: cover !important;
    }
    .footer-links {
        flex-direction: column !important;
    }
    .footer-column {
        align-items: start !important;
        min-height: 250px;
        height: 300px;
    }

    .circle-1,.circle-2,.circle-3,.line1,.line2,.line3,.line4,.line5,.line-8,.line-6,.line-7,.m-negative, .line-y2{
        display: none;
        }

        .fle{
            display: flex !important;
            width: fit-content;
            flex-direction: column;
            justify-content: center !important;
            align-items: center;
        }

        .fle-img{
            width: 250px !important;
        }

        .flex{
          display: flex !important;
          align-items: center !important;
          width: 100% !important;
          flex-direction: column !important;
        }

        .footer-nojoda{
          display: flex;
          justify-content: space-between !important;
          width: 100% !important;

          flex-direction:  row !important;
          align-items: center !important;
        }

    .footer-parent {
        flex-direction: row !important;
        align-items: center;
        padding-top: 8% !important;
    }
    .section-streamers, .qlqwa {
        background-size: cover !important;
    }
    .dasdas {
        flex-direction: column !important; 
    }
    .parent {
        padding-top: 2rem !important;
    }


    .qlqwa{
        width: 90% !important;
        margin-bottom: 3rem;
        background-size: 100% 100% !important;
    }

    .my-3{
        margin-top: 0rem !important;
    }

    .text-size{
      margin-left: 0.01rem !important;
    }

    .parent.card{
        padding: 20px !important;
    }

    .heading-lg {
        font-size: 50px !important;
    }
    .grid-parent {
        flex-direction: column !important;
    }

    .marico{
        flex-direction: row !important;
    }

    body{
        overflow: hidden;
    }



    .container-lg{
        width: 96% !important;
    }

    .container-md{
        width: 90% !important;
      }
}

/*Media queries para trabajar en pantallas con viejas resoluciones*/
@media  screen and (min-width: 1024px) and (max-width: 1279px){
    
    .nav {
        top: 1% !important;
        height: min-content !important;
    }

    
    .render-float1{
      width: 90px !important;
      top: 40% !important;
      left:  55% !important;
    }

    .render-float2{
      width: 120px !important;
      top: 20% !important;
      left: 40% !important;
    }

    .render-float3{
      width: 120px !important;
    }

  .render-float{
    top:0% !important;
    left: 60% !important;

  width:300px !important;
}

.mobile2{
  height: 1rem !important;
}

.tablet-90{
  width: 80% !important;
}

.j-start{
  justify-content: start !important;
  height: min-content !important;
  padding-bottom: 4rem;
}

    .left2{
      margin-left: 5% !important;
    }

    
    .parent.card{
      padding: 20px !important;
  }

  .heading-lg {
      font-size: 50px !important;
  }
  .grid-parent {
      flex-direction: column !important;
  }


    .heading-lg{
        padding-top: 1rem !important;

    }

    .grid{
      grid-template-columns: 100% !important;
    }
  
    .parent.card4{
      padding: 55px !important;
      margin-top: 1.5rem !important;
    }
  
    .grid2{
      grid-template-columns: 100% !important;
    }

    .span-text{
        font-size: 36px !important;
    }

    .img-visions{
        width: fit-content !important;
        z-index: 1005;
    }

    .footer-nojoda{
      display: flex;
      justify-content: space-between !important;
      width: 100% !important;

      flex-direction:  row !important;
      align-items: center !important;
    }

.footer-parent {
    flex-direction: row !important;
    align-items: center;
    padding-top: 8% !important;
}
.section-streamers, .qlqwa {
    background-size: cover !important;
}
.dasdas {
    flex-direction: column !important; 
}
.parent {
    padding-top: 2rem !important;
}



    .redes-lis{
        z-index: 1005 !important;
    }

    .grid-parent3{
        grid-template-columns: 100% !important;
    }

    .absolute-image{
        z-index: -999;
        margin-left: 0rem !important;
        order: 1 !important;
        justify-content: center !important;
    }

    .text-width-two{
        width: 100% !important;
        height: fit-content !important; 
        background-image: none !important;
    }

    .abs-vertical{
        display: none;
    }

    .px-left{
        text-align: center !important;
        padding-left: 0rem !important;
    }

    .no-pt{
        padding-top: 0rem !important;
    }

    .w-100{
        width: 250px !important;
    }

    .slider-in{
        margin-left: 0rem !important;
    }

    .line-y3{
        display: none;
    }

    .padding-moon{
        padding-right: 0rem !important;
    }


    
    .z-ind{
        margin: 0rem 1rem !important;
    }

.head-section{
    background-size: cover !important;
}

    .sombra2 {
        height: 100% !important;
    }

    .logo {
        width: 100% !important;
    }
    .menu-desktop {
        display: none !important;
    }
    .container-lg.nav-parent {
        justify-content: none !important;
    }
    .hero-logo {
        font-size: 50px !important;
    }
    .footer {
        height: 100% !important;
        background-size: cover !important;
    }
    .footer-links {
        flex-direction: column;
    }
    .footer-column {
        align-items: center !important;
    }

    .circle-1,.circle-2,.circle-3,.line1,.line2,.line3,.line4,.line5,.line-8,.line-6,.line-7,.m-negative, .line-y2{
        display: none;
        }

        .fle{
            display: flex !important;
            width: fit-content;
            flex-direction: column;
            justify-content: center !important;
            align-items: center;
        }

        .fle-img{
            width: 250px !important;
        }

        .container-md{
            width: 90% !important;
          }

    .footer-parent {
        flex-direction: column;
        align-items: center;
    }
    .section-streamers, .qlqwa {
        background-size: cover !important;
    }
    .dasdas {
        flex-direction: column !important; 
    }
    .parent {
        padding-top: 2rem !important;
    }

    .footer-nojoda{
        justify-content: center;
    }

    .social-footer{
        justify-content: center;
    }

    .qlqwa{
        width: 90% !important;
        margin-bottom: 3rem;
        background-size: 100% 100% !important;
    }

    .my-3{
        margin-top: 0rem !important;
    }

    .parent.card{
        padding: 20px !important;
    }

    .heading-lg {
        font-size: 50px !important;
    }
    .grid-parent {
        flex-direction: column !important;
    }

    .marico{
        flex-direction: row !important;
    }

    body{
        overflow: hidden;
    }

    .container-lg{
        width: 92% !important;
    }
}

/*Media queries para trabajar Pantallas de escritorio tablet con la resolucion promedio de HD*/
@media only screen and (min-width: 1282px) and (max-width: 1439px){

    .img-visions{
        width: 400px !important; 
      }
      .parent.card4{
        padding: 45px !important;
      }

      .circle-gradient-vision-page2{

        right: 0% !important;
      }

      .render-float{
        width: 550px !important;
        height:auto !important;
      }

      .render-float1{
        width: 250px !important;
        height:auto !important;
      }

      .circle-gradient-vision-page{

        right: 0% !important;
      }


      .parent.card{
        padding: 45px !important;
      }
      .spacer-large{
        height:8rem !important;
      }


      .container-md{
        width: 90% !important;
      }

      .gradient-back2{
        z-index: auto !important;
      }

      .top1, .top2, .top3{
        display: none !important;
      }

    .slider-in{

        margin-left: 0rem !important;
      }

      .spacer-large{
        height: 3rem !important;
        position: relative !important;
      }

      .px-left{
        padding-left: 10rem !important;
      }

      .head-section.full{
        background-size: cover !important;
      }

      .padding-moon{
        padding-right: 18rem !important;
      }
      
        .text-width-two{
        margin-right: 2rem !important;
        padding:30px 100px 30px 100px !important;

        background-size:cover !important;
      }

      .text-width-two h2,p{
        padding-left: 2rem !important;
      }


      .circle-1,.circle-2,.circle-3,.line1,.line2,.line3,.line4,.line5,.line-8,.line-6,.line-7,.m-negative{
        display: none;
        }

}

@media only screen and (min-width: 1280px) and (max-width: 1281px){
    .img-visions{
        width: 400px !important; 
      }

      .render-float{
        width: 550px !important;
        height:auto !important;
      }

      .render-float1{
        width: 200px !important;
        left: 35% !important;
        height:auto !important;
      }

      .circle-gradient-vision-page2{

        right: 0% !important;
      }

      .circle-gradient-vision-page{

        right: 0% !important;
      }

      .parent.card4{
        padding: 45px !important;
      }

      .parent.card{
        padding: 45px !important;
      }
      
      .head-section.full{
        background-size: cover !important;
      }

      .px-left{
        padding-left: 10rem !important;
      }

      .spacer-large{
        height:8rem !important;
      }

      .container-md{
        width: 90% !important;
      }

      .gradient-back2{
        z-index: auto !important;
      }

      .top1, .top2, .top3{
        display: none !important;
      }

    .slider-in{

        margin-left: 0rem !important;
      }

      .spacer-large{
        height: 3rem !important;
        position: relative !important;
      }


      .padding-moon{
        padding-right: 18rem !important;
      }
      
      
.circle-1{
    z-index: 1005;
    margin-bottom: -.9rem !important;
    margin-left: -.3rem;
    }
    
    .circle-2{
      z-index: 1007;
      margin-top: -.5rem !important;
      margin-left: -.6rem !important;
      }
      
      .circle-3{
        z-index: 1009;
        margin-top: -.6rem !important;
        margin-left: 2rem !important;
        }
        
    .line1{
      width: 1.3vw !important; 
      background-color: #a89c9c9c; height: .2px !important; position: absolute; z-index: 1000; 
      margin-left: -2.0rem !important; 
      margin-top: 40%;
    }
    .line2{
      width: .2px !important; background-color: #a89c9c9c; height: 58vh !important; position: absolute; z-index: 1007; margin-left: -.3rem !important;  margin-top: 75.2% !important;
    }
    
    .line3{
      width: 3.6vw !important; background-color: #a89c9c9c; height: .2px !important; position: absolute; z-index: 1000; margin-left: -2.65rem !important; margin-top: 111.5%;
    }
    
    .line4{
      width: .2px !important; background-color: #a89c9c9c; height: 36.7vh !important; position: absolute; z-index: 1000; margin-left: -6.9rem !important; margin-top: 133.5% !important;
    }
    
    .line5{
      width: 6vw !important; background-color: #a89c9c9c; height: .2px !important; position: absolute; z-index: 1000; margin-left: -2.2rem !important; margin-top: 155% !important;
    }
    
    .line-8{
      width:  .2px !important; background-color: #a89c9c9c; height: 15vh;
    }
    
    .line-6{
      width: .2px !important; background-color: #a89c9c9c; height: 15vh; display: flex; align-items: end;
    }
    
    .line-7{
      width: 45.6vw !important;  
      background-color: #a89c9c9c; height:  .2px !important; position: relative; z-index: 1000;
    }

    .text-width-two{
        margin-right: 2rem !important;
        padding:30px 100px 30px 100px !important;

        background-size:cover !important;
      }

      .text-width-two h2,p{
        padding-left: 2rem !important;
      }

    
    .m-negative{
      margin-top:-3.8rem !important;
    }
}

/*Media queries para trabajar en Pantallas de su mayoria laptops*/
@media only screen and (min-width: 1442px) and (max-width: 1599px){

    .spacer-large{
        height:6rem !important;
      }

      .parent.card{
        padding: 45px !important;
      }

      .render-float{
        position: absolute;
        top: 10%;
        left: 14%;
        width: 600px !important;
        height: auto !important;
      }
      
      .render-float1{
        position: absolute;
        bottom: 8%;
        left: 28%;
      }
      
      .render-float2{
        position: absolute;
        bottom: 8%;
        left: 10%;
      }
      
      .render-float3{
        position: absolute;
        top: 2%;
        right: 35%;
      }
      

      .grid{
        grid-template-columns: 50% 50% !important;
      }

      .text-width-two{
        margin-right: 2rem !important;
        padding:30px 100px 30px 100px !important;

        background-size:cover !important;
      }

      .text-width-two h2,p{
        padding-left: 2rem !important;
      }


      .padding-moon{
        padding-right: 16rem !important;
      }
      
      .head-section.full{
        background-size: cover !important;
      }
    .slider-in{
        margin-left: 2rem !important;
      }

      .px-left{
        padding-left: 8rem !important;
      }

      .img-visions{
        width: 450px !important; 
      }

      .spacer-large{
        height: 3rem;
        position: relative;
      }

      .top1, .top2, .top3{
        display: none !important;
      }

      section{
       overflow: visible !important;
      }

      .container-md{
        width: 85% !important;
      }

      .circle-1,.circle-2,.circle-3,.line1,.line2,.line3,.line4,.line5,.line-8,.line-6,.line-7,.m-negative{
        display: none;
        }
      
}

@media  screen and (min-width: 1440px) and (max-width: 1441px){
    .slider-in{
        margin-left: 2rem !important;
      }

      .render-float{
        position: absolute;
        top: 10% !important;
        left: 18% !important;
        width: 500px !important;
        height: auto !important;
      }

      
      .render-float1{
        position: absolute;
        bottom: 15% !important;
        left: 32% !important;
        width: 200px !important;
        height: auto !important;
      }
      
      .render-float2{
        position: absolute;
        bottom: 8%;
        left: 10%;
        width:140px !important;
        height: auto !important;
      }
      
      .render-float3{
        position: absolute;
        top: 2%;
        right: 35%;
        width:180px !important;
        height: auto !important;
      }
      
      .parent.card{
        padding: 45px !important;
      }
      .grid{
        grid-template-columns: 40% 60% !important;
      }


      .padding-moon{
        padding-right: 16rem !important;
      }
      
      .text-width-two{
        margin-right: 2rem !important;
        padding:30px 100px 30px 100px !important;

        background-size:cover !important;
      }

      .text-width-two h2,p{
        padding-left: 2rem !important;
      }

      .head-section.full{
        background-size: cover !important;
      }

      .spacer-large{
        height:6rem !important; 
      }

      .px-left{
        padding-left: 8rem !important;
      }

      .img-visions{
        width: 450px !important; 
      }

      .spacer-large{
        height: 3rem;
        position: relative;
      }

      .top1, .top2, .top3{
        display: none !important;
      }

      section{
       overflow: visible !important;
      }

      .container-md{
        width: 85% !important;
      }

      
.circle-1{
    z-index: 1005;
    margin-bottom: -.9rem !important;
    margin-left: -.3rem;
    }
    
    .circle-2{
      z-index: 1007;
      margin-top: -.5rem !important;
      margin-left: -.5rem;
      }
      
      .circle-3{
        z-index: 1009;
        margin-top: -.6rem !important;
        margin-left: 3.7rem !important;
        }
        
    .line1{
      width: 2.4vw !important; 
      background-color: #a89c9c9c; height: .2px !important; position: absolute; z-index: 1000; 
      margin-left: -2.0rem !important; 
      margin-top: 40%;
    }
    .line2{
      width: .2px !important; background-color: #a89c9c9c; height: 55vh !important; position: absolute; z-index: 1007; margin-left: -.3rem !important;  margin-top: 75.7% !important;
    }
    
    .line3{
      width: 4.6vw; background-color: #a89c9c9c; height: 1.6px; position: absolute; z-index: 1000; margin-left: -4.65rem; margin-top: 111.5%;
    }
    
    .line4{
      width: 1.6px; background-color: #a89c9c9c; height: 34.1vh !important; position: absolute; z-index: 1000; margin-left: -9.55rem; margin-top: 133.5% !important;
    }
    
    .line5{
      width: 8.1vw !important; background-color: #a89c9c9c; height: .2px !important; position: absolute; z-index: 1000; margin-left: -2.8rem !important; margin-top: 155% !important;
    }
    
    .line-8{
      width: 2px; background-color: #a89c9c9c; height: 15vh;
    }
    
    .line-6{
      width: 2px; background-color: #a89c9c9c; height: 15vh; display: flex; align-items: end;
    }
    
    .line-7{
      width: 42.6vw !important;  
      background-color: #a89c9c9c; height: 2px; position: relative; z-index: 1000;
    }
    
    .m-negative{
      margin-top:-3.6rem !important;
    }
}

@media  screen and (min-width: 1600px) and (max-width: 1601px) {
    .circle-1{
        z-index: 1005;
        margin-bottom: -.9rem !important;
        margin-left: -.3rem;
        }

        
      .head-section.full{
        background-size: cover !important;
      }
        .px-left{
            padding-left: 6rem !important;
          }
        .spacer-large{
            height:5rem !important;
          }
        
        .circle-2{
          z-index: 1007;
          margin-top: -.4rem !important;
          margin-left: -.5rem;
          }
          
          .circle-3{
            z-index: 1009;
            margin-top: -.8rem !important;
            margin-left: 3.7rem !important;
            }
            
        .line1{
          width: 3vw !important; 
          background-color: #a89c9c9c; height: .2px !important; position: absolute; z-index: 1000; 
          margin-left: -3.2rem !important; 
          margin-top: 39% !important;
        }
        .line2{
          width: .2px !important; background-color: #a89c9c9c; height: 53.4vh !important; position: absolute; z-index: 1007; margin-left: -.3rem !important;  margin-top: 74.7% !important;
        }
        
        .line3{
          width: 4.6vw; background-color: #a89c9c9c; height: .2px !important; position: absolute; z-index: 1000; margin-left: -4.65rem; margin-top: 111.5%;
        }
        
        .line4{
          width: .2px !important; background-color: #a89c9c9c; height: 32.1vh !important; position: absolute; z-index: 1000; margin-left: -9.55rem; margin-top: 133.1% !important;
        }
        
        .line5{
          width: 7.1vw !important; background-color: #a89c9c9c; height: .2px !important; position: absolute; z-index: 1000; margin-left: -3rem !important; margin-top: 154.5% !important;
        }
        
        .line-8{
          width: .2px !important; background-color: #a89c9c9c; height: 15vh;
        }
        
        .line-6{
          width: .2px !important; background-color: #a89c9c9c; height: 15vh; display: flex; align-items: end;
        }
        .line-y2{
            top: -24.5% !important;
        }
        
        .line-7{
          width: 37.8vw !important;  
          margin-left: .4rem !important;
          background-color: #a89c9c9c; height: .2px !important; position: relative; z-index: 1000;
        }
        
        .m-negative{
          margin-top:-1.6rem !important;
        }

        .slider-in{
            margin-left: 5rem !important;
          }
    
    
          .img-visions{
            width: 500px !important; 
          }

          .padding-moon{
            padding-right: 15rem !important;
          }
    
}

/*Media queries para trabajar en pantallas pre-FULLHD*/
@media  screen and (min-width: 1602px) and (max-width: 1919px){
    .slider-in{
        margin-left: 5rem !important;
      }

      .padding-moon{
        padding-right: 15rem !important;
      }

      
      .head-section.full{
        background-size: cover !important;
      }

      .spacer-large{
        height:5rem !important;
      }
      .img-visions{
        width: 500px !important; 
      }

      .circle-1,.circle-2,.circle-3,.line1,.line2,.line3,.line4,.line5,.line-8,.line-6,.line-7,.m-negative{
        display: none;
        }
      
        .px-left{
            padding-left: 6rem !important;
          }

}

@media  screen and (min-width: 1920px) and (max-width: 1921px) {
    
.circle-1{
    z-index: 1005;
    margin-bottom: -.8rem;
    margin-left: -.5rem;
    }

    
    
    .circle-2{
      z-index: 1007;
      margin-top: -.4rem;
      margin-left: -.5rem;
      }
      
      .circle-3{
        z-index: 1009;
        margin-top: -.5rem;
        margin-left: 4.1rem;
        }
        
    .line1{
      width: 4.6vw; background-color: #a89c9c9c; height: 1.6px; position: absolute; z-index: 1000; margin-left: -4.7rem; margin-top: 40%;
    }
    .line2{
      width: 1.6px; background-color: #a89c9c9c; height: 53vh; position: absolute; z-index: 1007; margin-left: 0rem; margin-top: 75.7%;
    }
    
    .line3{
      width: 4.6vw; background-color: #a89c9c9c; height: 1.6px; position: absolute; z-index: 1000; margin-left: -4.65rem; margin-top: 111.5%;
    }
    
    .line4{
      width: 1.6px; background-color: #a89c9c9c; height: 33vh; position: absolute; z-index: 1000; margin-left: -9.55rem; margin-top: 133.7%;
    }
    
    .line5{
      width: 9.25vw; background-color: #a89c9c9c; height: 1.6px; position: absolute; z-index: 1000; margin-left: -0.0rem; margin-top: 156%;
    }
    
    .line-8{
      width: 2px; background-color: #a89c9c9c; height: 15vh;
    }
    
    .line-6{
      width: 2px; background-color: #a89c9c9c; height: 15vh; display: flex; align-items: end;
    }
    
    .line-7{
      width: 37.6vw; background-color: #a89c9c9c; height: 2px; position: relative; z-index: 1000;
    }
    
    .m-negative{
      margin-top:-5.8rem;
    }
}

/*Media queries para trabajar en Pantallas FULLHD y superior*/
@media  screen and (min-width: 1922px){
    .circle-1,.circle-2,.circle-3,.line1,.line2,.line3,.line4,.line5,.line-8,.line-6,.line-7,.m-negative{
        display: none;
        }
}