/*Media queries para trabajar Mobile*/
@media  screen and (max-width: 479px){
    .nav {
        top: 1% !important;
        height: 10rem !important;
    }
    .logo {
        width: 100% !important;
    }
    .menu-desktop {
        display: none !important;
    }
    .container-lg.nav-parent {
        justify-content: none !important;
    }
    .hero-logo {
        font-size: 50px !important;
    }
    .footer {
        height: 100% !important;
        background-size: cover !important;
    }
    .footer-links {
        flex-direction: column;
    }
    .footer-column {
        align-items: center !important;
    }
    .footer-parent {
        flex-direction: column;
        align-items: center;
    }
    .section-streamers, .qlqwa {
        background-size: cover !important;
    }
    .dasdas {
        flex-direction: column !important; 
    }
    .parent {
        padding-top: 2rem !important;
    }
    .heading-lg {
        font-size: 40px !important;
    }
    .grid-parent {
        flex-direction: column !important;
    }
}

/*Media queries para trabajar Tablets como las Surfaces*/
@media  screen and (min-width: 480px) and (max-width: 767px){}

/*Media queries para trabajar en tablets com Ipads*/
@media  screen and (min-width: 768px) and (max-width: 1023px){}

/*Media queries para trabajar en pantallas con viejas resoluciones*/
@media  screen and (min-width: 1024px) and (max-width: 1279px){}

/*Media queries para trabajar Pantallas de escritorio tablet con la resolucion promedio de HD*/
@media  screen and (min-width: 1280px) and (max-width: 1439px){

    .slider-in{

        margin-left: 0rem !important;
      }

}

/*Media queries para trabajar en Pantallas de su mayoria laptops*/
@media  screen and (min-width: 1440px) and (max-width: 1599px){

    .slider-in{
        margin-left: 2rem !important;
      }

}

/*Media queries para trabajar en pantallas pre-FULLHD*/
@media  screen and (min-width: 1600px) and (max-width: 1919px){
    .slider-in{
        margin-left: 5rem !important;
      }
}

/*Media queries para trabajar en Pantallas FULLHD y superior*/
@media  screen and (min-width: 1920px){}