.bg-all {
  background: #0c0c0c;
}

.bg-hero-vision {
  background: url("/img/bg-hero-vision.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.img-vision {
  object-fit: contain;
}

.pvertical-vision {
  padding: 2rem 0rem;
}

#vision-show-1,
#vision-show-2,
#vision-show-3,
#vision-show-4,
#vision-show-5,
#vision-show-6,
#vision-show-7,
#vision-show-8,
#vision-show-9,
#vision-show-10,
#vision-show-11,
#vision-show-12,
#vision-show-13,
#vision-show-14,
#vision-show-15,
#vision-show-16,
#vision-show-17,
#vision-show-18,
#vision-show-19,
#vision-show-20,
#vision-show-21,
#vision-show-22 {
  opacity: 0;
}

#vision-ocult-1,
#vision-ocult-2,
#vision-ocult-3,
#vision-ocult-4,
#vision-ocult-5,
#vision-ocult-6,
#vision-ocult-7,
#vision-ocult-8,
#vision-ocult-9,
#vision-ocult-10,
#vision-ocult-11,
#vision-ocult-12,
#vision-ocult-13,
#vision-ocult-14,
#vision-ocult-15,
#vision-ocult-16,
#vision-ocult-17,
#vision-ocult-18,
#vision-ocult-19,
#vision-ocult-20,
#vision-ocult-21,
#vision-ocult-22,
#vision-ocult-23,
#vision-ocult-24,
#vision-ocult-25,
#vision-ocult-26,
#vision-ocult-27,
#vision-ocult-28 {
  opacity: 0;
}

.modelImg-vision {
  display: none;
}

.bg-bt-vision {
  background: url("/img/bg-bt-vision.png");
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 80%;
  top: 10%;
}

.bg-world-vision {
  background: url("/img/bg-world-vision.png");
  width: 755px;
  height: 755px;
  flex-shrink: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 755px 755px;
  left: 0;
}

.circle-gradient-vision-page {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: 1004;
  right: -10%;
  bottom: -10%;
  border-radius: 1159px;
  background: rgba(137, 95, 227, 0.1);

  filter: blur(100px);
}

.circle-gradient-vision-page2 {
  position: absolute;
  width: 100%;
  height: 400px;
  z-index: 1005;
  left: -20%;
  bottom: 20%;
  border-radius: 1159px;
  background: rgba(117, 232, 252, 0.1);
  filter: blur(100px);
}
